::-webkit-scrollbar {
    display: none;
}

#questionContainer {
    border: 1px solid aqua;
    border-radius: 6px;
}

@media only screen and (max-height: 600px) {
    #questionContainer {
        border: none;
        height: 65vh;
        border: none;
        overflow-y: scroll;
    }
}

@media only screen and (max-height: 400px) {
    #questionContainer {
        border: none;
        height: 50vh;
        border: none;
        overflow-y: scroll;
    }
}