<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear encuesta</title>
    <link rel="stylesheet" href="../../node_modules/bulma/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/50b64d4e61.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/ingresoEncuesta.css">
</head>

<body>
    <div class="container mt-3 is-8 is-offset-2">
        <h1 class="title is-4 has-text-centered has-text-info">Ingresar Encuesta</h1>
    </div>
    <div id="containerQuestions" class="container mt-2 is-8 is-offset-2 px-5">
        
    </div>
    <footer class="colums">
        <div class="field is-grouped">
            <div class="control column is-4 is-offset-2">
                <button type="submit"
                    class="button has-text-weight-bold is-fullwidth is-link is-success is-outlined">Submit</button>
            </div>
            <div class="control column is-4">
                <button type="reset"
                    class="button has-text-weight-bold is-fullwidth is-link is-danger is-outlined">Cancel</button>
            </div>
        </div>
    </footer>
    <script src="./ingresoEncuesta.js"></script>
</body>

</html>